In [ ]:
print ("Python prereq")

Hi I'm Erin and I am excited to learn Python and SQL. I work for a tech company in operations and I want to gain skills to transition to a career in data analysis.